<ion-toolbar mode="ios">
    <ion-buttons slot="start" routerLink="/menu">
        <ion-button>
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Mis citas</ion-title>


</ion-toolbar>

<ion-content>
    <ion-item-sliding>
        <ion-item>
            <ion-label>
                03/12/2021, 15:30 hrs
                <p>Dental</p>
                <p>Folio:26327890</p>
                <p>Pendiente</p>
            </ion-label>
        </ion-item>
        <ion-item-options>
            <ion-item-option color="primary">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="pencil"></ion-icon>

            </ion-item-option>
            <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>


    <ion-content>
        <ion-item-sliding>
            <ion-item>
                <ion-label>
                    01/12/2021, 15:30 hrs
                    <p>Dental</p>
                    <p>Folio:3483990</p>
                    <p>FRealizado</p>
                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-item-option color="primary">
                    <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="pencil"></ion-icon>

                </ion-item-option>
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

        <ion-content>
            <ion-item-sliding>
                <ion-item>
                    <ion-label>
                        28/11/2021, 11:30 hrs
                        <p>Dental</p>
                        <p>Folio:2347890</p>
                        <p>Cancelada</p>
                    </ion-label>
                </ion-item>
                <ion-item-options>
                    <ion-item-option color="primary">
                        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="pencil"></ion-icon>

                    </ion-item-option>
                    <ion-item-option color="danger">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>

        </ion-content>