<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>regresar</ion-back-button>
        </ion-buttons>
        <ion-title>Medicamentos</ion-title>
    </ion-toolbar>

    <ion-content>
        <ion-item-sliding>
            <ion-item>
                <ion-label>
                    Paracetamol
                    <p> 1 Cada 8 horas por 7 días</p>

                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-item-option color="primary">
                    <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="pencil"></ion-icon>

                </ion-item-option>
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
            <ion-item>
                <ion-label>
                    Ranitidina
                    <p> 2 Cada 8 horas por 12 días</p>

                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-item-option color="primary">
                    <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="pencil"></ion-icon>

                </ion-item-option>
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

    </ion-content>