<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<!--holaaaaaaaaaaaa-->
<ion-content>
  <ion-card>
    <ion-icon size="large"  name="person-circle"></ion-icon>

    <ion-card-content> 
      <ion-input clearInput placeholder="Usuario">

      </ion-input></ion-card-content>

      <ion-card-content>
         <ion-input clearInput placeholder="Contraseña">

         </ion-input></ion-card-content>
    
         <ion-button expand="block">Iniciar Sesión</ion-button>
         <ion-button expand="block">Registrarme</ion-button>
   

  </ion-card>

</ion-content>
