<ion-toolbar mode="ios">
    <ion-buttons slot="start" routerLink="/cita/cita2">
        <ion-button>
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Agendar cita</ion-title>


</ion-toolbar>

<ion-content>

    <ion-card>
        <ion-header>
            <ion-toolbar>
                <ion-title>Confirmación de cita</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-item>
            <ion-label>Araceli Olmos Vallejo</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Dental</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>03/12/21</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>15:30 hrs</ion-label>
        </ion-item>





    </ion-card>

</ion-content>
<ion-footer class="ion-no-border ion-padding">
    <ion-toolbar>
        <ion-button mode="ios" size="block" routerLink="/menu" color="primary">Continuar</ion-button>
        <ion-button mode="ios" size="block" routerLink="/menu" color="danger">Cancelar</ion-button>
    </ion-toolbar>
</ion-footer>