<ion-content fullscreen>

    <ion-list mode="ios" class="contenedorLista">

        <ion-list-header class="itemCenter">
            <ion-label>
                Alergias
            </ion-label>
            <div>
                <ion-button routerLink="/addalergia">Agregar
                </ion-button>
            </div>
        </ion-list-header>
        <ion-card>

            <div class="margenArriba">
                <p>Tus alergias:</p>
                <ion-list>
                    <ion-item>
                        <ion-label>Ranitidina</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Paracetamol</ion-label>
                    </ion-item>


                </ion-list>

            </div>
        </ion-card>
    </ion-list>
</ion-content>